@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

body {
  font-family: "Inter", sans-serif;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.section button {
  padding: 12px 1rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
}

.section button:hover {
  background-color: rgb(177, 176, 176);
  color: black;
  font-weight: bold;
}

.data {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  color: mediumblue;
}
